name: Sync Fork

on:
  schedule:
    - cron: "0 0 1 * *" # every 30 minutes
  workflow_dispatch: # on button click

permissions:
  contents: write
  pull-requests: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: tgymnich/fork-sync@v2.0.10
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          head: master
          base: master
          merge_method: merge
          auto_merge: true
